html {
  box-sizing: border-box;
  background-color: #070347;
  height: 100vh;
  overflow-x: hidden;
}
body {
  margin: 0px;
  color: white;
  font-family: Garamond, 'avant garde,' monospace, 'sans-serif';
  background-color: #070347;
  margin: 0;``
}
canvas .name {
  width: 100%;
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
}
.altbg {
  background-color: #3365a1;
}
#intro {
	margin: 0;
  padding: 20px;
	width: 100vw;
	height: 100vh;
	background: url('../images/bg.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-origin: content-box;
    background-position: top;
}
.center {
  width: 100vw;
}
.downarrow {
  transform: rotate(90deg);
  color: white;
  font-size: 50px;
  background: url('../images/circle.svg');
  background-repeat: no-repeat;
  height:70px;
  width:70px;
  margin: 0 auto;
  bottom: 0px;
  left: 48%;
  position: absolute;
}
.downarrow .inner {
  margin-left: 25px;
}
.downarrow .inner a {
  text-decoration: none;
}
*, *:before, *:after {
  box-sizing: inherit
}
h1, h2 {
  font-variant: small-caps;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  letter-spacing: 2px;
  text-align: center;
}
h3 {
  font-variant: small-caps;
  font-family: "Copperplate Gothic Light", Copperplate, fantasy;
}
header {

}
nav {
 position: fixed;
 top: 1px;
 right: 1px;
 background-color: navy;
}

nav a {
  width: 20px;
  color: white;
  border: 0 1px;
  border-color: white;
}
footer {

}
button {

}
.container {
 padding: 0px;
 min-height: 500px;
}
#menu {

}
#logo {

}
#carousel {
  width: 96%;
  height: 450px;
  overflow: hidden;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
a {
  color: white;
}
.project {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-size: cover;
  background-position: top left;
  flex: 1;
}
.projectTitle {
  flex: 1;
}
.projectHeading {
  font-family: 'Copperplate Gothic Light', Copperplate, fantasy;
  white-space: nowrap;
  transform: rotate(90deg);
  transform-origin: left bottom 0;
  font-size: 22px;
  padding-bottom: 6px;
  margin: 0px;
  /*max-width: 40px;*/
}

.projectDescription {
  flex: 5;
}
.projectContent {
  padding: 20px;
  font-size: 28px;
  align-items: center;
}
.projectContent h3 {
  font-size: 33px;
  margin: 0 auto;
  padding: 0px;
}
.btns {
  display: flex;
}
.btns p {
  flex: 1;
  margin: 0 10px;
  padding: 5px 20px;
}
.active {
  flex: 5;
}
#resume {
  padding-top: 20px;
}
#resumecontent {
  background: white;
  color: black;
  font-family: Garamond, monospace;
}
	.row {
		display: flex;
		flex-wrap: wrap;
			  -webkit-display: flex; /* Safari */
   			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		font-family: Garamond, Verdana, Geneva, sans-serif;
		width: 100%;
    min-width: 300px;
	}
	.col-flex-3 {
		flex: 3;
		padding: 10px;
    min-width: 300px;
	}
	.col-flex-9 {
		flex: 9;
		padding: 10px;
    min-width: 300px;
	}
	.boxes {
		display: flex;
		flex-wrap: wrap;
			display: -webkit-flex; /* Safari */
   			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		width: 100%;
	}
	.box {
		flex: 1;
		text-align: center;
		font-weight: bold;
		width: 100px;
		min-height: 90px;
	}
  #resumecontent a {
    color: #070347;
  }
	#resumecontent h3 {
		background: #070347;
		color: white;
		font-family: Copperplate, Verdana, Geneva, sans-serif;
		font-variant:small-caps;
		border: 1px black solid;
		display: flex;
			display: -webkit-flex; /* Safari */
		align-items: center;
		margin: 0px;
	}
	h4 {
		color: cornflowerblue;
		text-align: center;
	}
	.spacer {
		height: 10px;
	}
	section .content {
		border: 1px black solid;
		padding: 5px;
	}
	section#aboutme .content, section#skills .content {
		background: #d6e1f5;
	}
	.intro img {
		margin-right: 10px;
	}

#social {

}
.facebook {

}
.twitter {

}
.goodreads {

}
.pinterest {

}
.instagram {

}
.linkedIn {

}
#blog {

}
#embedSocial {

}
.twitter2 {

}
.facebook2 {

}
.instagram {

}
#quote {

}
.quote {

}
